.form {
    padding: 0 8rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.form > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    margin-bottom: 2rem;
}

.redirect {
    font-weight: 600;
    color: #319795;
    
}

.additionalBox {
    display: flex;
    justify-content: flex-end;
}

.PasswordCheck {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.PasswordCheck > .item {
    display: flex;
    align-items: center;
    padding-left: 30%;
}

.PasswordCheck div span {
    margin-left: 7px;
    opacity: 0.6;
    font-weight: 600;
}

.disableLink {
    pointer-events: none !important;
}
